DATA_PATH = /home/login/data

POSTGRES_DB=DB_NAME
POSTGRES_USER=DB_USERNAME
POSTGRES_PASSWORD=USER_PASSWORD
POSTGRES_PORT=5432

PEPPER=oui
#openssl rand -hex 8 (on met 8 mais si on veut augmenter ->HMAC-SHA256)
JWT_SECRET=96a1d24e3675665c
COOKIE_SECRET=fc0d5d0e894009cf

VAULT_TOKEN=tokenn
VAULT_ADDR=http://vault:8200
