DATA_PATH = /home/login/data

POSTGRES_DB=DB_NAME
POSTGRES_USER=DB_USERNAME
POSTGRES_PASSWORD=USER_PASSWORD
POSTGRES_PORT=5432

PEPPER=oui
#openssl rand -hex 32
JWT_SECRET=002a49bf0483c22854cb38330d845c27ec09d7b898e7a93425822a7b65fc085f
COOKIE_SECRET=712c249bafe38438d3156e58fbabec2262eba32f6b76ff37c50c2c4b9ff08cd7

VAULT_TOKEN=tokenn
VAULT_ADDR=http://vault:8200
